<!-- NOTIFICATIONS -->
<div class="section notifications">
  <h2>Notifications</h2>

  <div class="notification-list">
    <div class="notification new">
      <p><strong>New:</strong> You have successfully approved John Cruz barangay clearance request.</p>
      <span class="time">2 mins ago</span>
    </div>

    <div class="notification">
      <p><strong></strong> You have successfully approved John Cruz certificate of indigency request.</p>
      <span class="time">1 hour ago</span>
    </div>

    <div class="notification">
      <p><strong></strong> You have successfully approved John Cruz appointment booking.</p>
      <span class="time">Yesterday</span>
    </div>
  </div>
</div>
