<div class="sidenav">

  <div class="logo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyivuRsYg8eNvsDnaM1FF_mwAY7Yrd4tl__A&s" alt="Logo">
  </div>
  
    <nav>
         <ul>
            <li><a routerLink="/home/dashboard">Dashboard</a></li>
            <li><a routerLink="/home/bookappointment">Book Appointment</a></li>
            <li><a routerLink="/home/certificaterequest">Certificate Request</a></li>
            <li><a routerLink="/home/notification">Notification</a></li>
            <li><a routerLink="/home/profile">Profile</a></li>
            <li><a routerLink="/home/settings">Settings</a></li>
        </ul>
    </nav>
</div>
