<div class="sidenav">
    <nav>
         <ul>
            <li><a routerLink="/home/dashboard">Dashboard</a></li>
            <li><a routerLink="/home/bookappointment">Book Appointment</a></li>
            <li><a routerLink="/home/certificaterequest">Certificate Request</a></li>
            <li><a routerLink="/home/residentsdirectory">Residents Directory</a></li>
            <li><a routerLink="/home/notification">Notification</a></li>
            <li><a routerLink="/home/profile">Profile</a></li>
        </ul>
    </nav>
</div>
