/* WRAPPER */
.content-wrapper {
  padding: 50px 60px;
  background: #cfd8e3;
  min-height: 90vh;
  border-radius: 18px;
  width: 89%;

}

/* TITLES */
.page-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 15px;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 18px;
}

/* CARD */
.card {
  background: #e9e9e9;
  border-radius: 14px;
  padding: 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

/* LIST */
.request-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* ITEM */
.request-item {
  background: white;
  border-radius: 10px;
  padding: 12px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: 0.2s;
}

.request-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

/* TEXT */
.request-text {
  font-size: 15px;
  color: #333;
}

/* ACTION BUTTONS */
.actions {
  display: flex;
  gap: 8px;
}

button {
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  font-weight: 600;
}

/* APPROVE */
.approve {
  background: #21c55d;
  color: white;
}

.approve:hover {
  background: #16a34a;
}

/* DECLINE */
.decline {
  background: #ef4444;
  color: white;
}

.decline:hover {
  background: #dc2626;
}
