<div class="content-wrapper">

  <h1 class="page-title">Barangay Official</h1>

  <div class="card">

    <h2 class="section-title">Residents Directory</h2>

    <div class="request-list">

      <!-- ITEM -->
      <div class="request-item">
        <span class="request-text">
          John Cruz will request a Certificate of Solo Parents on 2/5/26.
        </span>

        <div class="actions">
          <button class="approve">Approved</button>
          <button class="decline">Declined</button>
        </div>
      </div>

      <div class="request-item">
        <span class="request-text">
          Anna Flores will request a Certificate of Indigency on 2/7/26.
        </span>

        <div class="actions">
          <button class="approve">Approved</button>
          <button class="decline">Declined</button>
        </div>
      </div>

      <div class="request-item">
        <span class="request-text">
          Rey Gomez will request a Blotter Report Certification on 2/9/26.
        </span>

        <div class="actions">
          <button class="approve">Approved</button>
          <button class="decline">Declined</button>
        </div>
      </div>

      <div class="request-item">
        <span class="request-text">
          Juan Carlo booked an appointment on 2/13/26.
        </span>

        <div class="actions">
          <button class="approve">Approved</button>
          <button class="decline">Declined</button>
        </div>
      </div>

      <div class="request-item">
        <span class="request-text">
          James Dogong booked an appointment on 2/15/26.
        </span>

        <div class="actions">
          <button class="approve">Approved</button>
          <button class="decline">Declined</button>
        </div>
      </div>

    </div>
  </div>
</div>
