// Sidebar container
.sidenav {
  width: 240px;
  height: 100vh;
  background: #0f172a; // dark navy
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;

  // Header
  .nav-header {
    padding: 2.3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    p {
      font-size: 0.75rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #cbd5e1;
      margin: 0;
    }
  }

  // Navigation
  nav {
    flex: 1;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 0.40rem;

       li:first-child a {
      margin-top: 20px; // moves Dashboard down
    }

      li {
        a {
          display: flex;
          align-items: center;
          padding: 0.8rem 1.5rem;
          font-size: 15px;
          font-weight: 500;
          color: #cbd5e1;
          text-decoration: none;
          border-left: 4px solid transparent;
          transition: all 0.3s;

          span {
            margin-right: 12px;
          }

          &:hover {
            background: rgba(255, 255, 255, 0.1);
            color: #ffffff;
            border-left-color: #38bdf8; // highlight
            padding-left: 1.8rem;
          }

          &.active {
            background: rgba(255, 255, 255, 0.05);
            color: #ffffff !important;
            border-left-color: #0b1f5e !important;
          }
        }
      }
    }
  }

  // Footer
  .sidenav-footer {
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.2);
    font-size: 0.8rem;
    color: #94a3b8;
  }
}