<div class="sidenav">

  <div class="logo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyivuRsYg8eNvsDnaM1FF_mwAY7Yrd4tl__A&s" alt="Logo">
  </div>
  
    <nav>
         <ul>
            <li><a routerLink="/ofs-home/ofs-dashboard">Dashboard</a></li>
            <li><a routerLink="/ofs-home/ofs-residentsdirectory">Residents directory</a></li>
            <li><a routerLink="/ofs-home/ofs-createresidentsprofile">Create residents profile</a></li>
             <li><a routerLink="/ofs-home/ofs-notification">Notification</a></li>
              <li><a routerLink="/ofs-home/ofs-profile">Profile</a></li>
              <li><a routerLink="/ofs-home/ofs-settings">Settings</a></li>

        </ul>
    </nav>
</div>
