.profile-content {
  padding: 50px 60px;
  background: #cfd8e3;
  min-height: 90vh;
  border-radius: 18px;
  width: 89%;

  .profile-title {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #0f172a;
  }

  .profile-tabs {
    display: flex;
    gap: 40px;
    margin-bottom: 25px;

    .tab {
      font-size: 18px;
      padding: 10px 25px;
      border-radius: 14px;
      border: none;
      background: transparent;
      cursor: pointer;
      transition: 0.2s;

      &.active {
        background: #d1d5db;
        font-weight: 600;
      }

      &:hover {
        background: #e5e7eb;
      }
    }
  }

  .profile-card {
    background: #e5e7eb;
    padding: 40px;
    border-radius: 16px;
    max-width: 90%;
    width: 100%;
  }

  form {
    width: 100%;
  }

  .form-group {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 28px;

    .icon {
      width: 50px;
      height: 50px;
      background: #074cb4;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
    }

    .input-group {
      flex: 1;

      label {
        display: block;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 6px;
      }

      input {
        width: 100%;
        padding: 16px;
        border-radius: 10px;
        border: none;
        background: #d1d5db;
        font-size: 16px;
        outline: none;
      }
    }
  }

  .save-btn {
    margin-top: 10px;
    padding: 14px 30px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    background: #2563eb;
    color: white;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: #1d4ed8;
    }
  }
}
