.login-logo {
  width: 90px;
  height: 90px;
  object-fit: contain;
  margin: 0 auto 10px auto;
  display: block;
  border-radius: 99%;
}

button {
  padding: 0.75rem;
  border: none;
  border-radius: 8px;

  background: #0f172a;   // dark blue (same as topbar)
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: #1e293b; // slightly lighter dark blue (same as sidenav)
    box-shadow: 0 6px 12px rgba(15, 23, 42, 0.4);
    transform: translateY(-2px);
  }
}
