<div class="login-container" style="background: url('https://scontent.fmnl13-4.fna.fbcdn.net/v/t39.30808-6/538616263_1172696484887667_7712809080329707056_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=13d280&_nc_eui2=AeH0wkXNYzxNXJvhIH0jjNDm4rwGbYIRI87ivAZtghEjznSP-YQqUbmJUB8sbLcEB2Ub2_8GNpNP4XIZmA_jVjG0&_nc_ohc=sPhymyJJ5TYQ7kNvwGVWE8J&_nc_oc=AdkDaaMa9tceGjS9w1wEu-HtNZcSEC5k3GfVwGl_E6RUae9GiQzD19ZGsGL1JbmSOG0-Lry_HGs0sq35_VmSbHQn&_nc_zt=23&_nc_ht=scontent.fmnl13-4.fna&_nc_gid=-MOCjJ_uuQVWbkQXzNq0Mg&oh=00_AfsO4Z8RUe-4WqgvskUEc16bhguAA_y0UBng43_TfU11Hg&oe=69A4E7F9') no-repeat center center; background-size: cover; min-height: 100vh; display: flex; justify-content: center; align-items: center;">
  <form (ngSubmit)="login()" #loginForm="ngForm" style="background: rgba(255,255,255,0.9); padding: 2rem 3rem; border-radius: 12px; box-shadow: 0 8px 25px rgba(0,0,0,0.3); width: 100%; max-width: 400px; display: flex; flex-direction: column; gap: 1rem;">
  <img 
  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyivuRsYg8eNvsDnaM1FF_mwAY7Yrd4tl__A&s"
  alt="Logo"
  class="login-logo"
/>
    <h2 style="text-align: center; color: #333; margin-bottom: 1rem;">Login</h2>

    <input type="email" name="email" [(ngModel)]="email" placeholder="Enter Email" required style="padding: 0.75rem 1rem; border-radius: 8px; border: 1px solid #ccc; font-size: 1rem;">
    
    <input type="password" name="password" [(ngModel)]="password" placeholder="Enter Password" required style="padding: 0.75rem 1rem; border-radius: 8px; border: 1px solid #ccc; font-size: 1rem;">

    <button type="submit" style="padding: 0.75rem; border-radius: 8px; border: none; background: #0b1f5e; color: white; font-size: 1rem; cursor: pointer;">
  Login
</button>

  </form>
</div>
