.appointment-wrapper {
  width: 85%;
  margin-left: auto;
  margin-right: 0;
  padding: 50px 100px;
  background: #e2e8f0;
  border-radius: 18px;
  min-height: 90vh;

  .page-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #0f172a;
  }

  form {
    background: white;
    padding: 35px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    min-height: 80vh;

  }
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      font-weight: 600;
      margin-bottom: 8px;
      color: #1e293b;
    }

    input,
    select,
    textarea {
      padding: 12px 14px;
      border-radius: 10px;
      border: 1px solid #cbd5e1;
      font-size: 14px;
      transition: 0.7s;
      margin-bottom: 30px;

      &:focus {
        outline: none;
        border-color: #2563eb;
        box-shadow: 0 0 0 2px rgba(37,99,235,0.2);
      }
    }

    textarea {
      min-height: 100px;
      resize: vertical;
    }

    small {
      margin-top: 6px;
      color: #475569;
      font-size: 13px;
    }
  }

  .form-row {
    display: flex;
    gap: 20px;

    .form-group {
      flex: 1;
    }
  }

  .submit-btn {
    width: 60%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(135deg, #2563eb, #1d4ed8);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s;

    display: block;
    margin: 25px auto;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 8px 18px rgba(37,99,235,0.35);
    }

    &:active {
      transform: scale(0.98);
      background: linear-gradient(135deg, #1e40af, #1e3a8a);
    }
  }
}
