.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

}

.dashboard-body {
  display: flex;
  flex: 1;
  height: calc(100vh - 60px);
  overflow: hidden;
}
