$sidebar-width: 240px;
$topbar-height: 80px;

.content {
  position: absolute;

  top: $topbar-height;        // below topbar
  left: $sidebar-width;       // beside sidenav

  width: calc(100% - #{$sidebar-width});
  height: calc(100vh - #{$topbar-height});

  padding: 2rem;
  background: #f1f5f9; // light background for contrast

  overflow-y: auto;    // scroll only content
}
